body {
    font-family: sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

.header {
    background-color: blueviolet;
    padding: 7px;
}

.header-link {
    color: #fff;
    text-decoration: none;
    padding: 0 10px;
    font-size: 20px;
}

.body {
    width: 500px;
    margin: auto auto;
    text-align: justify;
}

.image {
    width: 100%;
}

.title {
    font-size: 45px;
    font-weight: 400;
}

.date {
    color: darkblue;
}

.read-more {
    text-decoration: none;
    margin-left: 20px;
    font-weight: 900;
}


.footer {
    background-color: darkgray;
    color: #fff;
    padding: 50px;
}