body {
    font-family: sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

.header {
    background-color: blueviolet;
    padding: 7px;
}

.header-link {
    color: #fff;
    text-decoration: none;
    padding: 0 10px;
    font-size: 20px;
}

.body-width {
    width: 600px;
}

.footer {
    background-color: darkgray;
    color: #fff;
    padding: 50px;
}